[Desktop Entry]
Name=MusicDroid
Comment=Music Droid
Exec=/opt/musicdroid/musicdroid
Icon=/opt/musicdroid/musicdroid.png
Terminal=false
Type=Application
Categories=AudioVideo;AudioVideoEditing;
