[Desktop Entry]
Name=MusicDroid
Comment=MusicDroid
Exec=/opt/MusicDroid/MusicDroid
Icon=/opt/MusicDroid/MusicDroid.png
Terminal=false
Type=Application
Categories=AudioVideo;AudioVideoEditing;
